/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;400;600;800&display=swap');

/* Import CSS */
@import './personal-reset.scss';
@import './variables.scss';
@import './utilities.scss';


#app {
    /* FONTS */ 
    font: $fw-default $fs-4 $ff-default;
    color: $clr-light;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    // FLEX
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    // Size
    height: 100vh;
    overflow: hidden;

    // Aesthetic
    background-color: $clr-secondary;
  }
