/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;400;600;800&display=swap');

/* Import CSS */
@import './personal-reset.scss';
@import './variables.scss';
@import './utilities.scss';


#app {
    /* FONTS */ 
    font: $fw-default $fs-4 $ff-default;
    color: $clr-dark;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
